<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/back/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/back/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../static/back/css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../static/back/skin/green/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../static/back/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../static/back/css/style.css" />

    <title>查询课程</title>

</head>

<body>
<!--_header 作为公共模版分离出去-->
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid cl">
            <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/StuSystem/elective/toElective">学生成绩查询选课系统</a>
            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl">
                    <li class="dropDown dropDown_hover">
                        <a href="#" class="dropDown_A" id="name">
                        </a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li>
                                <a href="/StuSystem/student/toPerson">修改信息</a>
                            </li>

                            <li>
                                <a href="/StuSystem/student/logout">退出</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">

    <div class="menu_dropdown bk_2">
        <dl id="course">
            <dt>
                <a href="/StuSystem/elective/toElective">
                    <i class="Hui-iconfont">&#xe616;</i> 我要选课
                </a>
            </dt>
        </dl>
        <dl id="student">
            <dt>
                <a href="/StuSystem/elective/toCourseScore">
                    <i class="Hui-iconfont">&#xe61d;</i> 查询已选课程及成绩
                </a>
            </dt>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs">
    <a class="pngfix" href="javascript:void(0);" onclick="displaynavbar(this)"></a>
</div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
    <nav class="breadcrumb">
        <i class="Hui-iconfont"></i>
        <a href="/StuSystem/elective/toElective" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <a href="/StuSystem/elective/toElective" class="maincolor">我要选课</a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20" style="width: 1000px;margin: 0 auto;">
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">
                    <span class="c-red">*</span>姓名：</label>
                <div class="formControls col-xs-8 col-sm-9" id="namea">  </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">
                    <span class="c-red">*</span>学号：</label>
                <div class="formControls col-xs-8 col-sm-9" id="stu-num">  </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">
                    <span class="c-red">*</span>班级：</label>
                <div class="formControls col-xs-8 col-sm-9" id="class-id">  </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">
                    <span class="c-red">*</span>新密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="newpassword" id="newpassword">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">
                    <span class="c-red">*</span>生日信息：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="date" class="input-text" autocomplete="off" placeholder="不修改请留空" name="birthday" id="birthday">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input class="btn btn-primary radius" type="button" id="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
                </div>
            </div>
        </article>
    </div>
</section>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../static/back/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/back/js/layer.js"></script>
<script type="text/javascript" src="../static/back/js/H-ui.js"></script>
<script type="text/javascript" src="../static/back/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/back/js/H-ui.admin.page.js"></script>
<!--/_footer /作为公共模版分离出去-->
<script type="text/javascript" src="../static/back/js/change-student.js"></script>
</body>

</html>